<configuration debug="true">

    <property resource="application.properties" />

    <appender name="myAppender" class="com.sergiv83.MyAppender">
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.classic.boolex.GEventEvaluator">
                <expression>e.mdc?.containsKey("${mdc.filter.key}")</expression>
            </evaluator>
            <OnMismatch>DENY</OnMismatch>
            <OnMatch>NEUTRAL</OnMatch>
        </filter>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="myAppender" />
    </root>

    <receiver class="ch.qos.logback.classic.net.SocketReceiver">
        <remoteHost>${log.provider.host}</remoteHost>
        <port>${log.provider.port}</port>
        <reconnectionDelay>${log.provider.reconnection.delay}</reconnectionDelay>
    </receiver>

</configuration>